/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?Dancing+Script:wght@400;700&display=swap');



body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  background: #fff;
  
}

nav ul {
  padding: 14px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.flair-word {
  @apply text-rose-800 font-cursive animate-fadeIn;
}

.hover-gradient {
  background: linear-gradient(to bottom, white, #6cd599);
  background-size: 200% 200%;
  transition: background-position 0.5s ease-in-out;
}

.preview {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  pointer-events: none; /* Prevents the preview from interfering with mouse events */
}